@import "./colores.scss";

@media only screen and (min-width: 400px) and (max-width: 600px) {
    /*pagina clientes*/

    .direccion {
        padding-left: 10px;
    }

    #grillaclientes {
        display: grid;
        height: 1500px;
        width: auto;
        grid-template-columns: 100%;
        grid-template-areas:
            "header"
            "main"
            "footer";
        align-content: space-around;
        justify-content: space-evenly;
        background-color: rgb(255, 255, 255);
    }

    header {
        grid-area: header;
    }

    a {
        text-decoration: none;
        color: rgb(57, 35, 181);
    }

    body {
        background-color: $maincolor;
    }

    main {
        grid-area: main;
    }

    .contenedorclient {
        margin-top: 20px;
        background-image: url(../img/clientes.jpg);
        background-repeat: repeat;
        opacity: 95%;
        height: 870px;
        display: flow-root;
        border: none;
        list-style: none;
        font-size: larger;
    }

    .tituloclient {
        background-color: silver;
        text-align: center;
        margin-top: 5px;
        font-style: oblique;
        font-family: cursive;
    }

    .parrafoclientes {
        color: rgb(0, 0, 0);
        text-align: center;
        text-decoration: solid;
        text-size-adjust: 30px;
        font-size: x-large;
        font-weight: 900;
        font-family: sans-serif;
    }
    .items {
        height: 80px;
        text-align: center;
        color: black;
    }

    footer {
        grid-area: footer;
        background-color: $secondcolor;
    }

    .menufooter {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        font-size: 15px;
        font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
        margin-right: 2%;
    }
}

/*dispositivos panalla full*/

@media only screen and (min-width: 600px) {
    /*pagina clientes*/

    .direccion {
        padding-left: 15px;
    }

    #grillaclientes {
        display: grid;
        height: 1600px;
        grid-template-columns: 100%;
        grid-template-areas:
            "header"
            "main"
            "footer";
        align-content: space-around;
        justify-content: space-evenly;
        background-color: rgb(255, 255, 255);
    }

    .tituloclient {
        background-color: silver;
        text-align: center;
        margin-top: 5px;
        font-style: oblique;
        font-family: cursive;
    }

    .contenedorclient {
        margin-top: 15px;
        background-image: url(../img/clientes.jpg);
        background-repeat: repeat;
        background-size: 100vw;
        opacity: 95%;
        height: 850px;
        display: flow-root;
        border: none;
        list-style: none;
        font-size: x-large;
    }

    .titulo {
        width: 100vw;
        color: $colortitulo;
    }

    .parrafoclientes {
        color: rgb(255, 255, 255);
        text-align: center;
        text-decoration: solid;
        text-size-adjust: 30px;
        font-size: x-large;
        font-weight: 900;
        font-family: sans-serif;
    }
    .items {
        height: 80px;
        text-align: center;
        color: black;
    }
}
