/* Xs SM*/

@media only screen and (max-width: 600px) {
    /*pagina contacto*/

    .direccion {
        padding-left: 10px;
    }

    /*contendedor preguntas*/

    .contenedor-preguntas {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
        padding-left: 5px;
        padding-right: 5px;
    }

    .contenedor-pregunta {
        background-color: white;
        padding: 10px;
        padding-left: 70px;
        padding-right: 50px;
        border: 2px solid rgb(103, 0, 0);
        border-radius: 10px;
        transition: 0.3s ease all;
        cursor: pointer;
    }

    /*preguntas*/

    .pregunta {
        font-weight: 700;
        font-size: 20px;
        line-height: 28px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .pregunta img {
        width: 15px;
    }

    .respuesta {
        color: #808080;
        line-height: 30px;
        transition: 0.3s ease all;
    }

    #rigths {
        color: aliceblue;
        font-size: 9px;
        padding-right: 80px;
    }

    footer {
        background-color: #680000f7;
    }

    /*formulario contacto*/

    .contacto {
        padding: 20px;
    }
    .contact {
        background-color: transparent;
    }

    .botoncontacto {
        background-color: rgb(169, 169, 169);
        margin-left: 10px;
    }
}

/*dispositivos panalla full*/

@media only screen and (min-width: 600px) {
    /*pagina contacto*/

    /*contendedor preguntas*/

    .direccion {
        padding-left: 15px;
    }
    .contenedor-preguntas {
        display: grid;
        grid-template-columns: 1fr;
        gap: 25px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .contenedor-pregunta {
        background-color: white;
        padding: 10px;
        padding-left: 70px;
        padding-right: 50px;
        border: 2px solid rgb(103, 0, 0);
        border-radius: 10px;
        transition: 0.3s ease all;
        cursor: pointer;
    }

    /*preguntas*/

    .pregunta {
        font-weight: 700;
        font-size: 20px;
        line-height: 28px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .pregunta img {
        width: 15px;
    }

    .respuesta {
        color: #808080;
        line-height: 30px;
        transition: 0.3s ease all;
    }

    /*formulario contacto*/

    .contacto {
        padding-right: 800px;
        padding-left: 20px;
        padding-top: 10px;
    }
    .contact {
        background-color: transparent;
    }

    .botoncontacto {
        background-color: rgb(169, 169, 169);
        margin-left: 10px;
    }
}
