

/* Xs SM*/

@media only screen and (max-width:600px) {


    /*index*/

    #grilla {
        display: grid;
        height: 1400px;
        grid-template-columns: 100%;
        grid-template-areas: "header"
            "video"
            "map"
            "footer";
        align-content: space-around;
        justify-content: space-evenly;
        background-color: rgb(255, 255, 255);

    }


    header {

        grid-area: header;
    }


    a {
        text-decoration: none;
        color: rgb(57, 35, 181);
    }


    .video {
        grid-area: video;
        height: 500px;
        width: 100%;

    }


    .map {

        grid-area: map;
        height: 200px;
        width: 100%;

    }


    body {

        background-color: $maincolor;

    }

    img {

        max-width: 100vw;

    }


    footer {
        grid-area: footer;
        background-color: $secondcolor;

    }

    .menufooter {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        font-size: 15px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        margin-right: 2%;

    }

    #rigths {
        color: aliceblue;
        font-size: 9px;
        padding-left: 40px;


    }
}

@media only screen and (min-width:600px) {



    #grilla {
        display: grid;
        height: 1300px;
        grid-template-columns: 100%;
        grid-template-areas: "header"
            "video"
            "map"
            "footer";
        align-content: space-around;
        justify-content: space-evenly;
        background-color: rgb(255, 255, 255);

    }


    header {
        grid-area: header;

    }

    .logotitulo {
        width: 100vw;

    }



    a {
        text-decoration: none;
        color: rgb(57, 35, 181);
    }



    .video {
        grid-area: video;
        height: 450px;
        width: 100%;
        margin-top: 5px;
    }


    .map {


        grid-area: map;
        height: 200px;
        width: 100%;
        margin-top: 4px;

    }




    body {

        background-color: $maincolor;

    }




    footer {
        grid-area: footer;
        background-color: $secondcolor;
        margin-top: 5px;
    }

    .menufooter {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        margin-right: 2%;

    }

    #rigths {
        color: aliceblue;
        font-size: 9px;
        padding-left: 40px;



    }


    p{

margin-right: 3%;
margin-right: 3%;


    }

}