/* Xs SM*/

@media only screen and (max-width:600px) {


    /*marcas*/


    a {
        text-decoration: none;
        color: rgb(57, 35, 181);
    }



    body {

        background-color: rgb(255, 255, 255);

    }

    img {

        max-width: 100vw;

    }

    h1 {
        padding-top: 5px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }



    .logo {

        height: 100px;
        width: 100px;

    }

    footer {
        grid-area: footer;
        background-color: $secondcolor;

    }

    .menufooter {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        font-size: 15px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        margin-right: 2%;

    }

    #rigths {
        color: aliceblue;
        font-size: 9px;
        padding-left: 40px;


    }
}